* {
     vertical-align: baseline;
     font-weight: inherit;
     font-family: inherit;
     font-size: 100%;
     padding: 0;
     margin: 0;
     border: 0 none;
     outline: 0;
}

#container {
     width: 980px;
     margin: 0 auto;
     padding-top: 20px;

}

/*HEADER*/

#header {
     height: 150px;

}

#logo, #login, #header h1 {
     vertical-align: top;
     display: inline-block;
     width: 100px;
}


#header img {
     margin-top:80px;
}

#header h1 {
   margin-top:90px;  

}

#nav {
     background-color: #f6f8f7;
     list-style-type: none;
     text-align: right;
     display: inline-block;
     margin-left: 200px;
     vertical-align: top;
}

/*#header #nav ul {
     display: inline;
     padding: 10px;
     text-align: right;
}
*/

ul {
     display: inline-block;
     padding: 10px;
     vertical-align: top;
}

ul li {
     display: inline-block;
/*     vertical-align: top;*/
     padding: 10px;
     text-align: right;
     border-right: 2px solid black;
}

ul li:last-child {
     border: 0;
}

#login {
     background-color: #f6f8f7;
}

/*BANNER*/

.banner {
     padding-top: 10px;
     padding-left: 10px;
     padding-bottom: 10px;
     height: 25px;
     background-color: #1f7ebe;
     color: white;
     font-size: 24px;
}


/*****Content*/

#content {
     background-color: green;
     height: 800px;
}

#side-bar, #main {
     display: inline-block;
     vertical-align: top;
     width: 400px;
}


/*Side-bar*/

#side-bar {
     background-color: yellow;
     width: 250px;
     margin-left: 10px;
}

#side1 {
     margin-top: 10px;
     margin-bottom: 10px;
}

#side2 {
     margin-top: 10px;
     margin-bottom: 10px;
}

.button1 {
     border-radius: 5px;
     width: 200px;
     margin: 2px;
}


#schedule-demo {
     background-color: #1f7ebe;
     color: white;
     text-transform: uppercase;
}

#free-trial {
     background-color: orange;
     color: white;
     text-transform: uppercase;
}

.line {
     border: 1px solid black;
}

.ad {
    background-image: url("left_content_ad.png"); 
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
}

/*MAIN*/

#main {
     background-color: #99CCFF; /*blue*/
     width: 700px;
}


