* {
     vertical-align: baseline;
     font-weight: inherit;
     font-family: inherit;
     font-size: 100%;
     padding: 0;
     margin: 0;
     border: 0 none;
     outline: 0;
}

#container {
     width: 970px;
     margin: 0 auto;
     padding-top: 20px;

}

/***********************HEADER*/

#header {
     height: 150px;
}

#header img {
     margin-top:80px;
}

#header h1 {
   margin-top:90px;  
}

#header .span1, .span2 {
     color: gray;
     font-size: 30px;
}

#header .span2 {
     color: #1f7ebe;
}


#header .logo, .nav, .login {
     display: inline-block;
     vertical-align: top;
}


#header .nav {
     background-color: #f6f8f7;
     list-style-type: none;
     text-align: right;
     margin-left: 200px;
     padding: 10px;
     border-radius: 10px;
     color: #bbbbb3;
}


#header ul li {
     display: inline-block;
     padding: 10px;
     text-align: right;
     border-right: 2px solid black;
}

#header ul li:last-child {
     border: 0;
}

#header .login {
     background-color: #1f7ebe;
     border-radius: 10px;
     padding: 5px 10px;
     color: white;
}

/**************************BANNER*/

#banner {
     padding-top: 10px;
     padding-left: 10px;
     padding-bottom: 10px;
     height: 25px;
     background-color: #1f7ebe;
     color: white;
     font-size: 24px;
}


/************************Content*/

#content {
/*     background-color: green;*/
     height: 800px;
}




/************************Side-bar*/

#side-bar {
     display: inline-block;
     vertical-align: top;
     width: 250px;
     height: 680px;
     margin-left: 10px;

}

#side-bar .side1 {
     margin-top: 50px;
     margin-bottom: 10px;
     margin-left: 10px;

}

#side-bar .side2 {
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 10px;
}

/******************************SIDE-BUTTONS*/

#side-bar .side-button {
     width: 200px;
     margin: 10px;
}



#side-bar .side-button .schedule-demo {
     border-radius: 5px;
     background-color: #1f7ebe;
     color: white;
     text-transform: uppercase; 
     margin: 5px; 
     padding: 2px;
     width: 200px;
}

#side-bar .side-button .free-trial {
     background-color: orange;
     color: white;
     text-transform: uppercase;
     margin: 5px; 
     padding: 2px;
     width: 200px;
}


#side-bar .side-button .no-cc {
     background-color: #ffffff;
     font-size: 15px;
     margin: 5px; 
     padding: 2px;
     width: 200px;
}


/****************************LINE*/
#side-bar .line1 {
     border: 1px solid black;
     width: 250px;
}



/******************************AD*/

#ad {
    background-image: url("left_content_ad.png"); 
    height: 600px;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-left: 10px;
    background-size: 200px 350px;
}

#ad .ad-p1 {
     display: inline-block;
     margin-left: 10px;
     margin-bottom: 10px;
     margin-top: 30px;
     width: 170px;
     height: 50px;
}

#ad .ad-p2 {
     display: inline-block;
     margin-left: 10px;
     margin-bottom: 10px;
     font-size: 12px;
     width: 170px;
     height: 50px;
}

#ad .ad-p3 {
     display: inline-block;
     margin-left: 10px;
     margin-bottom: 10px;
     font-size: 15px;
     width: 170px;
     height: 50px;
     background-color: #1f7ebe;
     color: white;
     border-radius: 30px;
}



/*MAIN*/

#main {
     display: inline-block;
     width: 680px;
     margin-left: 20px;
     margin-top: 50px;
}


#main .home-button {
     display: inline-block;
     vertical-align: top;
}

#main .contact {
     display: inline-block;
     vertical-align: top;
     margin-left: 400px;
     margin-bottom: 5px;
}

#contact img, p {
     display: inline-block;
}

#main .main-line {
     border: 1px solid black;
     display: block;
}

/*MAIN LOWER HALF*/

#main .main-lower {
     margin-top: 10px;
     margin-left: 20px;
}

#main .main-lower .p1 {
     color: #1d7abb;
     font-size: 20px;
     margin-top: 10px;
     margin-bottom: 10px;
}

#main .main-lower .p2 {
     margin-top: 10px;
     margin-bottom: 10px; 
}

#main .main-lower li {
     margin-top: 10px;
     margin-bottom: 10px; 
}

#main .main-lower .p3 {
     margin-top: 10px;
     margin-bottom: 10px; 
}

/*Get Started AD***************/
#main .get-started {
     margin-top: 10px;
     margin-bottom: 10px; 
     padding-top: 10px;
     padding-bottom: 10px;
     border: 2px solid gray;
     background-image: url("content_ad.png"); 
     background-repeat: no-repeat;
}

#main .get-started .get-started1 {
     margin-left: 70px;
}

#main .get-started .get-started1 .get1 {
     margin-bottom: 5px;
     font-weight: bold;
     color: blue;
}

#main .get-started .get-started1 button {
     margin-top: 5px;
}

/****************/

#main .main-lower .p4 {
     color: blue;
     margin-bottom: 10px;
}
